body{


    background-color: white;
    font-family: "open sans", sans-serif;
    font-optical-sizing: auto;
}




h1{

    width: 969px;
    height: 256px;
    top: 74px;
    left: 235px;
   font-weight: 700;
   font-size: 56px;
   line-height: 64px;
   padding: 10px 150px 10px 150px;
   color: #111111;
   margin:auto ;

}

.p1{

    width: 1388px;
    height: 32px;
    left: 17px;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #555555;
    padding: 10px 400px 15px;

}

.p2{

    width: 839px;
    height: 84px;
    top: 363px;
    left: 235px;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    padding: 10px 450px 10px;
    color: #555555;

}

.p3{

    width: 303px;
    height: 20px;
    top: 480px;
    left: 235px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    padding: 10px 450px 10px;
    color: #000000;


}

.p4{

    width: 226px;
    height: 16px ;
    top: 512px ;
    left: 235px ;
    font-weight: 400 ;
    font-size: 12px ;
    list-style: 16.34px ;
    padding: 10px 450px 10px;
    color:#000000;


}

hr{
    width: 1020px;
    top: 554px;
    left: 150px;
    border: 1px solid;
    color: #B0AFAF;
    margin-left: 150px;
    margin: auto;
    

}

.texto1{

    width: 691px;
    height: 160px;
    top: 623px;
    left: 375px;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    padding: 12px;
    margin: auto;



}

.negrito{

    color:#A6130A;
    font-weight: 700;
    
}

.lista{

    width: 675px;
    height: 192px;
    top: 797px;
    left: 382px;
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
    color: #A6130A;
    padding: 10px 700px;


}

.texto2{

    width: 685px;
    height: 224px;
    top: 1014px;
    left: 375px;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    padding: 10px;
    margin: auto;
    


}

.texto3{

    width: 683px;
    height: 128px;
    top: 1255px;
    left: 375px;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    color: #333333;
    padding: 10px;
    margin: auto;
    



}

.p5{

    width: 422px;
    height: 32px;
    top: 1401.15px;
    left: 375px;
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
    color:#333333;
    padding: 10px 600px;



}

.p6{

    width: 437px;
    height: 36px;
    top: 1465.2px;
    left: 375px;
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    text-align: left;
    color:#111111;
    padding: 12px 600px;

}

.texto4{

    width: 669px;
    height: 224px;
    top: 1520px;
    left: 375px;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    color: #333333;
    padding: 10px 250px 10px;
    margin: auto;



}

#citacao{

    width: 679px;
    height: 258px;
    top: 1766px;
    left: 3750px;
    font-size: 30px;
    margin: 10px 250px;
    border-left-color: #A6130A;
    border-left-width: 3px;
    border-left-style: solid;
    margin: auto;
    



    


    



}